.projects{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    grid-area: projects;
    .project{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        margin-bottom: 20px;
       
        h3, p{
            color: var(--text-secondary);
            text-align: center;
            margin: 5px;
        }

        a{            
            
            object-fit: cover;
            border-radius: 10px;

            img{
                border-radius: 10px;
            }

            :hover{
               // filter: brightness(0.8);
                transform: scale3d(1.05, 1.05, 1.05);
                transition: 0.5s;
            }
        }
    }

}